<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVPSS MIS</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/HomePage.css">
    <link rel="stylesheet" th:href="@{/css/sidebarStyles.css}">
</head>
<body>
<div th:insert="fragments/GPM-sidebar :: sidebar"></div>
<div class="main-content">
    <h1>Home</h1>
    <div class="info-box">
        <img src ="/css/images/TVPSS-Logo_upscaled.png" class="ContentImg">
        <h1 th:text="'Hello ' + ${username} + ', Welcome to the TVPSS main website!'">Default Welcome Message</h1>
    </div>
</div>
</body>
</html>
