<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">TVPSS MIS</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div th:fragment="sidebar">
    <aside class="sidebar">
        <div class="logo">
            <img th:src="@{/images/TVPSS-Logo.png}" alt="Logo" class="logo-img">
            <span>TVPSS MIS</span>
        </div>
        <nav>
            <ul>
                <li><a th:href="@{/}">Home</a></li>
                <li><a th:href="@{/test}">Test</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </aside>
</div>
</body>
</html>