<!-- fragments/sidebar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" href="/css/sidebarStyles.css">
<body>
<aside th:fragment="sidebar" class="sidebar">
    <div class="logo">
        <img src="/css/images/TVPSS-Logo.png" alt="Logo" />
        <span>TVPSS MIS</span>
    </div>
    <nav>
        <ul>
            <li class="active">
                <a href="/home">
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="/dashboard">
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/profile">
                    <span>Profile</span>
                </a>
            </li>
            <li>
                <a href="/settings">
                    <span>Settings</span>
                </a>
            </li>
            <li>
                <a href="/logout">
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="user-info">
        <img src="/css/images/pfp.webp" alt="Profile Picture" class="profile-pic" />
        <div>
            <p>User Name</p>
            <p>User Role</p>
        </div>
    </div>
</aside>

</body>
</html>