/* Ensure the body and html elements take up full height */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background: url('images/sidebar-bg.png') no-repeat center center;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    position: relative;
    height: 100vh; /* Make sidebar span the full height of the viewport */
}

/* Adjust the logo section */
.sidebar .logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    margin-bottom: 10px;
    gap: 10px;
}

.sidebar .logo .logo-img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

/* Navigation Styles */
.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar nav ul li {
    padding: 10px 15px;
    margin-bottom: 5px;
}

.sidebar nav ul li.active,
.sidebar nav ul li:hover {
    background-color: #4256D0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
}

/* User Info Section */
.sidebar .user-info {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: auto; /* Push the user info section to the bottom */
}

.sidebar .user-info .profile-pic {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
