<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVPSS MIS</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/SchoolInfoStyles.css">
</head>
<body>
<div th:insert="fragments/GPM-sidebar :: sidebar"></div>
<div class="main-content">
    <h1>Hello, <span th:text="${user.username}"></span> Your School Information is being verified.</h1>
    <div class ="school-form" style="margin-top: 50px;">
        <div class="content">
            <div class="spinner"></div>
            <div class="status">Pending Verification</div>
        </div>
    </div>

</div>
</body>
</html>